.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-top: 40px;
  user-select: none;
  column-gap: 20px;
  font-family: var(--font-nunito);
}
.footer > img {
  width: 200px;
}

.footer_category {
  font-size: 2.5rem;
  color: var(--color-title);
  font-weight: bold;
  font-family: var(--font-nunito);
}
.footer_social ul,
.footer_content1 ul {
  margin-top: 20px;
}
.footer_social li,
.footer_content1 li {
  font-size: 1.8rem;
  color: var(--color-content);
  padding: 10px 0;
}
.footer_content1 li i {
  color: var(--color-primary);
  width: 20px;
}
.footer_social img {
  width: 20px;
  margin-right: 5px;
}

.footer_social a {
  color: var(--color-content);
  font-size: 1.8rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  transition: all 0.2s;
}
.footer_social a:hover {
  color: var(--color-primary);
}
.footer-background {
  background-color: var(--color-background);
  margin-top: 40px;
}
.footer-background p {
  text-align: center;
  padding: 20px;
  color: var(--color-content);
  font-size: 1.6rem;
}
@media only screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .footer > img {
    width: 50%;
    margin: 0 auto;
  }
  .footer_social,
  .footer_content1 {
    margin-top: 20px;
    margin-left: 40%;
  }
  .footer_social a {
    display: unset;
  }
}
